.form-check {
    padding: 0.5%;
    background-color: #344D67;
    border-radius: 8px;
    box-sizing: border-box;
    vertical-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 4%;
    padding-left: 5vw;
    width: 19%;
}

.form-check-input {
    background-color: #b1f0dc;
    color: #6ECCAF;
}

.form-check-label {
    background-color: #344D67;
    color: #b1f0dc;
    padding-left: 1vw;
}
